@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,800;1,400,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.buttons {
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 1.25em 2.2em;
  border-radius: 4.8em;
}

.buttons:hover,
.menu-item:hover {
  text-decoration: underline;
}

/* #region header */
.header {
  padding: 2em 3.5em;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo:hover {
  border: 1px solid transparent; 
}

.menu-list {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.menu-item:not(:first-child) {
  margin-left: 3.11em;
}

.menu-item:last-child {
  margin-left: 1.4em;
  background-color: #7AE5FD;
}
/* #endregion */
/* region main */
.main {
  padding-top: 145px;
}

.section-hero {
  background-image: url(/images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content {
  margin-left: 5em;
  max-width: 30%;
  width: 100%;
}

.hero-title {
  display: inline;
  font-weight: 800;
  font-size: 3.15em;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.hero-description {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.2em;
  max-width: 60%;
}

.hero-button {
  margin-top: 1em;
  background-color: #fff;
}

.section-description {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-content {
  max-width: 50%;
  text-align: center;
}

.description-title {
  font-size: 3em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.description-subtitle {
  margin-top: 0.75em;
  font-size: 1.35em;
  line-height: 1.625em;
  letter-spacing: 0.02em;
}

.description-note {
  margin-top: 0.5em;
  line-height: 1.2em;
  color: #73A6B1;
}
/* #endregion */

