@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

section:not(:nth-child(3)) {
  height: 100vh;
}

.buttons {
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 1.25em 2.2em;
  border-radius: 4.8em;
  background-color: #7AE5FD;
}

.buttons:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

.icons:hover {
  border: 1px solid transparent;
  cursor: pointer; 
}

/* #region header */
.header {
  padding: 2em 3.5em;
  width: 100%;
  position: fixed;
  background-color: #ffffffd2;
  z-index: 1;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.menu-item:not(:first-child) {
  margin-left: 3.11em;
}

.menu-item:last-child {
  margin-left: 1.4em;
}

.menu-item:not(:last-child):hover {
  text-decoration: underline;
}
/* #endregion */
/* region main */
.main {
  padding-top: 7.25em;
}

.section-hero {
  background-image: url(/images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

.hero_content {
  margin-left: 5em;
  max-width: 30%;
  width: 100%;
}

.hero_title {
  display: inline;
  font-weight: 800;
  font-size: 3.15em;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.hero_description {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.2em;
  max-width: 60%;
}

.hero_button {
  margin-top: 1em;
  background-color: #fff;
}

.section-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_content {
  max-width: 50%;
  text-align: center;
}

.description_title {
  font-size: 3em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.description_subtitle {
  margin-top: 0.75em;
  font-size: 1.35em;
  line-height: 1.625em;
  letter-spacing: 0.02em;
}

.description_text {
  margin-top: 0.5em;
  line-height: 1.2em;
  color: #73A6B1;
}

.section-what-we-works {
  width: 100%;
}

.what-we-works_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  padding: 0 3.5em;
}

.what-we-works_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3.1em;
  background-color: #F1FDFF;
}

.what-we-works_text {
  display: inline-block;
  margin-right: 3.1em;
  max-width: 50%;
}

.what-we-works_content,
.what-we-works_image {
  border-radius: 0.5em;
}

.what-we-works_title {
  font-size: 2.3em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.what-we-works_description {
  line-height: 1.2em;
  text-align: justify;
}

.what-we-works_image {
  width: 50%;
}

.what-we-works_button {
  background-color: #7AE5FD;
  margin-bottom: 8em;
}

.section-our-mission {
  width: 100%;
  display: flex;
  align-items: center;
}

.our-mission_container {
  padding: 0 4.35em;
  position: relative;
  width: 100%;
}

.our-mission_content {
  padding: 0 3.1em;
  background-color: #F1FDFF;
}

.our-mission_text {
  align-items: center;
  padding: 4.5em 0;
  max-width: 50%;
  font-size: 1.35em;
  line-height: 1.35em;
}

.our-mission_image {
  position: absolute;
  bottom: 0;
  right: 2em;
  width: 35.75em;
}

.section-sponsorship {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

.sponsorship-text_container {
  max-width: 51.65em;
  text-align: center;
}

.sponsorship-text_title {
  font-size: 3em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.sponsorship-text {
  margin-top: 0.75em;
  line-height: 1.2em;
  color: #73A6B1;
  letter-spacing: 0.03em;
}

.sponsorship-money_container {
  max-width: 22em;
  text-align: center;
}

.sponsorship-money_title {
  font-size: 1.35;
  letter-spacing: 0.05em;
  margin-bottom: 0.85em;
}

.sponsorship-money_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.65em;
  padding: 0.25em;
}

.counter_numbers {
  font-size: 3rem;
}

.counter_separator {
  background-color: #9AD2DE;
  width: 0.1em;
  height: 3.1em;
}

.section-contacts {
  background-color: #F9FADF;
  padding: 0 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  
}

.contacts_header {
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
  gap:4.65em;
  width: 100%;
}

.contacts_title {
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.contacts_title,
.contacts-header_content,
.contacts_image,
.contacts-form_container {
  width: 50%;
}

.contacts-header_content {
  display: flex;
  flex-direction: column;
  gap: 2.85em;
}

.contacts-header_description {
  line-height: 1.2em;
}

.contacts-header_description a {
  font-weight: 800;
}

.contacts-header_description a:hover {
  text-decoration: underline;
}

.social-info_icons li {
  display: inline;
}

.social-info_icons li:not(:last-child) {
  margin-right: 0.8em;
}


.contacts_body {
  background-color: #fff;
  border-radius: 0.5em;
}

.contacts_body {
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4.65em;
  width: 100%;
}

.form-description {
  font-size: 1.35em;
  line-height: 1.2em;
  margin-bottom: 2em;
}

.mail-form input {
  display: block;
  background-color:#F9FADF;
  padding: 1.25em 2.2em;
  border-radius: 4.8em;
  margin-bottom: 1em;
}

.mail-form input,
.input-form_button {
  width: 100%;
}

::placeholder {
  line-height: 1.2em;
}

.mail-form input:focus {
  outline: 3px solid #7AE5FD;
}

.input-form_button {
  text-align: center;
}
/*  #endregion */

